

body{
    background-image: url('../img/sky.jpg');
    color:white;
} 
  
#heading{ 
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

.merch-heading{
    color: white;  
    text-align: center;
}

.merch-heading:hover{
    text-decoration: underline;
    color: lightgreen;
} 
  
span{
    color: white;  
    text-align: right;
}
#forth{
    background: rgba(199, 238, 192, 0.1);
}

#merch-body{
    background-color: chartreuse;
}
#checkout{
    margin-top: 30px;
    background-color: lightgreen;
    color: black;

}
button{
    padding:10px;
}