#brown{
    background-color:  rgba(51, 43, 39, 0.767);
}

#sage{
    background-color:  rgb(165, 194, 159);
}
#chartruese{
    background-color:  chartreuse;
}
 
#chocolate{
    background-color:  chocolate;
}
#lilac{
    background-color: rgb(128, 122, 158);
}

#teal{
    background-color:rgb(38, 69, 77);
}
