

@font-face {
    font-family: 'agatha';
    src: url('../fonts/agatha/Agatha.ttf');
    font-styles: normal;
    font-weight:100;
}


body{
    background-image: url('../img/sky.jpg');
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
  
#heading{
    color:white;
    text-align: center;
    font-family: 'agatha';
    font-size: 100px;
    padding: 30px;
}


/* h1:hover{
    color: lightgreen;
} */



   #video-gallery{
       color: white;
   }
   .baby-yoda-video{
       background-color: rgba(159, 152, 192, 0.4);
       padding: 5px;

   }
   .video-section{
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid rgba(52, 40, 65, 0.7);

   }
   .video-heading{
       text-align: center;
       background-color: rgba(52, 40, 65, 0.7);
       padding: 15px;
   }

   .video-description{
    margin-top: 10px;
    background-color: rgba(179, 170, 221, 0.7);
    padding: 15px;
}