body {
    background-image: url('../img/sky.jpg');
   
   }
  
   #video-gallery{
       color: white;
   }
   .baby-yoda-video{
       /* background-color: rgba(159, 152, 192, 0.4); */
       padding: 30px;

   }
   .video-section{
    background-color: rgba(159, 152, 192, 0.7);
    padding:5px;
    /* border: 5px solid rgba(52, 40, 65, 0.7); */

   }
   .video-heading{
       text-align: center;
       background-color: rgba(52, 40, 65, 0.7);
       padding: 15px;
   }

   .video-description{
    margin-top: 10px;
    background-color: rgba(179, 170, 221, 0.7);
    padding: 15px;
}
 
@font-face {
    font-family: 'agatha';
    src: url('../fonts/agatha/Agatha.ttf');
    font-styles: normal;
    font-weight:100;
  }
  
  
  #heading{
    text-align: center;
    font-family: "agatha";
    font-weight: 100;
    font-size: 80px;
    color: lightgreen; 
    margin-top:20px;
  }  
#footer {
    bottom: 0;
    width: 100%;
    position: absolute
}
    .footer-block {
      margin: 20px 0;
    }
  